body{
    background: #374151;
}
#grid{
    /* width: 400px;
    height: 300px; */
    display: grid;
    grid-template-columns: repeat(4, 100px);
    /* grid-template-rows: repeat(4, 1fr); */    
    flex-wrap: wrap;
    position: relative;
    /* flex-direction: column; */
    justify-content: center;

    /* background-color: red; */
}

h3{
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    color: antiquewhite;
    /* background-color: red; */

    
}

#countdown{
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: antiquewhite;
    /* background-color: white; */
    /* display: inline-flex; */
    text-align: center;
}